<div>
	<h3>Add Profile</h3>
	<form ng-submit='vm.addProfile(user)'>
		<input type="text" placeholder='First Name' ng-model='user.first' required></input>
		<!-- <input type="text" placeholder='Last Name' required ng-model='user.last'></input>
		<input type="text" placeholder='Street Address' required ng-model='user.address'></input>
		<input type="text" placeholder='City' required ng-model='user.city'></input>
		<input type="text" placeholder='State' required ng-model='user.state'></input>
		<input type="text" placeholder='Zip Code' required ng-model='user.zip'></input>
		<input type="text" placeholder='Country' required ng-model='user.country'></input> -->
		<button>Submit</button>
		<button>Other</button>
	</form>
</div>




<div>
	<h3>Edit Profile</h3>
	<!-- <h3>{{vm.user[0].first}}</h3>
	<input type="text" placeholder='First Name' required ng-model='vm.user[0].first'></input>
another way to do it -->
	<form ng-submit='vm.editProfile(u)' ng-repeat='u in vm.user'>
		<input type="text" placeholder='First Name' required ng-model='u.first'></input>
		<!-- <input type="text" placeholder='Last Name' required ng-model='user.last'></input>
		<input type="text" placeholder='Street Address' required ng-model='user.address'></input>
		<input type="text" placeholder='City' required ng-model='user.city'></input>
		<input type="text" placeholder='State' required ng-model='user.state'></input>
		<input type="text" placeholder='Zip Code' required ng-model='user.zip'></input>
		<input type="text" placeholder='Country' required ng-model='user.country'></input> -->
		<button>Submit</button>
		<button>Other</button>
	</form>
</div>
























<!--j says he spent hours on this